/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #eee;
    --nike-grey: #F5F5F5;
    --shadow1: #e5e5e5;
    --footer-black: #111111FF;
    --text-lightgrey: #707072;
    --product-bestseller: #9E3500;

    --nike-futura: 'Nike-Futura', sans-serif;
    --helvetica-text: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
    --helvetica-text-medium: 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Nike-Futura';
    src: url("../fonts/Nike-Futura.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url("../fonts/HelveticaNowText.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text Medium';
    src: url("../fonts/HelveticaNowTextMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

/****************/
/* GENERIC STYLING */
/****************/

body {
    position: relative;
    font-family: "Helvetica Now Display", sans-serif;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    padding: 0 48px;
}

/*Moet nog Helvetica now display worden*/
h2 {
    font-size: 24px;
    font-family: "Helvetica", sans-serif;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 24px;
}

li {
    font-size: 16px;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: black;
}

svg:hover {
    opacity: 0.6;
}

/****************/
/* BUTTON STYLING */
/****************/

button {
    background-color: white;
    border-radius: 999px;
    border: none;
    color: black;
    padding: 6px 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
}

/****************/
/* HEADER STYLING */
/****************/

header>a {
    background-color: white;
    border: 2px solid black;
    padding: 4px 16px;
    position: absolute;
    left: -9999px;
}

header>a:focus {
    left: 10px;
    top: 10px;
}

header nav {
    position: static;
    background-color: white;
    transition: transform 0.6s ease;
}

header nav.slide-out {
    transform: translateY(-100%);
}

header nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transform: translateY(0%);
}

header section {
    display: flex;
    justify-content: space-between;
    max-height: 60px;
    padding: 6px 48px;
    background-color: var(--nike-grey);
}

header section ul {
    display: flex;
    gap: 24px;
}

header section ul:last-child {
    gap: 0;
}

header section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--color-text);
    font-weight: 500;
}

header section ul li a {
    font-size: 12px;
    line-height: 1;
    color: var(--color-text);
    font-family: var(--helvetica-text-medium);
    border-right: 2px solid #111111;
    padding-right: 12px;
    margin-right: 12px;
}

header section ul li:last-child a {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

header nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 48px;
}

header nav ul li ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav ul li:nth-child(2) ul {
    gap: 0;
}

header nav ul li:nth-child(2) ul li {
    font-family: var(--helvetica-text-medium);
    border-bottom: 2px solid transparent;
    padding: 10px 12px;
    transition: border 0.1s;
}

nav > ul > li:first-child {
    width: 268px;
}

header nav ul li:nth-child(2) ul li a {
    display: block;
    width: 100%;
}

header nav ul li:nth-child(2) ul li:hover {
    border-bottom: 2px solid black;
}

header nav ul li:nth-child(3) ul {
    display: flex;
    justify-content: end;
}

header form {
    position: relative;
}

header form button {
    all: unset;
    position: absolute;
    left: 0;
    top: 2px;
    padding: 7px 10px;
    cursor: pointer;
}

header form button:hover {
    background-color: #E5E5E5;
    border-radius: 999px;
}

header form svg:hover {
    opacity: 1;
}

header input {
    background-color: var(--nike-grey);
    border: none;
    border-radius: 20px;
    padding: 11px 20px 11px 48px;
    height: 40px;
    max-width: 180px;
}

header input:hover {
    background-color: #e5e5e5;
}

header input::placeholder {
    font-size: 16px;
}

/****************/
/* INFO SLIDER STYLING */
/****************/

.infoSlider {
    position: relative;
    width: 100%;
    max-height: 58px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--nike-grey);
    padding: 0;
    box-shadow: inset 0 -1px 0 0 var(--shadow1);
}

.infoSlider div {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.infoSlider ul {
    display: flex;
    padding: 12px 0 6px;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.infoSlider ul li {
    min-width: 100%;
    box-sizing: border-box;
    font-family: var(--helvetica-text);
}

.infoSlider p {
    line-height: 1;
    text-align: center;
}

.infoSlider p:last-child {
    font-size: 12px;
    line-height: 24px;
}

/*.infoSlider {*/


/*.infoSlider article {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.infoSlider article p:last-of-type {*/
/*    font-size: 12px;*/
/*}*/

/************************/
/* CALLTOACTION STYLING */
/************************/

.callToAction {
    padding: 0;
}

.callToAction h1 {
    font-family: var(--nike-futura);
    font-size: 48px;
    color: black;
    line-height: 1;
    text-transform: uppercase;
}

.callToAction * {
    text-align: center;
}

.callToAction p {
    font-family: var(--helvetica-text);
}

.callToAction span {
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 999px;
    margin-top: 30px;
}

.callToAction span:hover {
    border-color: #707072;
    background-color: #707072;
}

.callToAction h1 {
    margin-bottom: 8px;
}

.callToAction p {
    color: black;
    margin-top: 24px;
}

.callToAction figure img {
    width: 100%;
    height: auto;
}

.callToAction figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.callToAction figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    margin: 0 auto;
}

/****************/
/* HERO STYLING */
/****************/

.hero {
    margin-top: 16px;
    padding: 0
}

.hero h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.hero p:first-of-type {
    font-size: 76px;
    font-family: var(--nike-futura);
    line-height: 1;
    text-transform: uppercase;
}

.hero p:last-of-type {
    margin: 30px 0;
    line-height: 24px;
}

.hero span {
    display: block;
    width: fit-content;
    color: black;
    font-weight: 500;
    padding: 6px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
}

.hero span:hover {
    background-color: #9e9ea0;
    border-color: #9e9ea0;
}

.hero figure img {
    max-width: 100%;
    height: auto;
}

.hero figure {
    position: relative;
}

.hero figure figcaption {
    color: white;
    position: absolute;
    bottom: 54px;
    left: 36px;
}

/****************/
/* RELEASE SLIDER STYLING */
/****************/

.releasedSlider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
    padding: 0;
}

.releasedSlider button.disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
}

.releasedSlider ul {
    display: flex;
    gap: 20px;
    overflow: auto;
    padding: 0 48px;
}

.releasedSlider img {
    width: 430px;
    height: auto;
}

.releasedSlider ul li a figure {
    padding-bottom: 40px;
}

.releasedSlider figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.releasedSlider p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 48px 0 8px;
}

.releasedSlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.releasedSlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.releasedSlider ul li ul {
    display: flex;
    gap: 10px;
}

.releasedSlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    padding: 0;
}

.releasedSlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

.releasedSlider::-webkit-scrollbar {
    width: 14px;
    height: 2px;
}

.releasedSlider::-webkit-scrollbar-thumb {
    height: 2px;
    background: #000000;
}

.releasedSlider::-webkit-scrollbar-track {
    width: 2px;
    background: #FFF;
}

.releasedSlider ul::-webkit-scrollbar-track {
    margin: 0 40px;
}

.releasedSlider ul::-webkit-scrollbar {
    width: 14px;
}

.releasedSlider ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 4px 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px;
}

.releasedSlider ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.releasedSlider ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.releasedSlider ul:nth-child(2) {
    padding-inline-start: 48px;
    padding-left: 48px;
    scroll-padding-left: 48px;
    scroll-snap-type: x mandatory;
}

.releasedSlider ul:nth-child(2) li {
    scroll-snap-align: start;
}

/****************/
/* PRODUCT SLIDER STYLING */
/****************/

.productSlider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
    padding: 0;
}

.productSlider button.disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
}

.productSlider ul {
    display: flex;
    gap: 20px;
    overflow: auto;
    padding: 0 40px;
}

.productSlider img {
    max-width: 500px;
    aspect-ratio: 1/1;
}

.productSlider ul li a figure {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 40px;
}

.productSlider figcaption p {
    font-family: var(--helvetica-text-medium);
}

.productSlider figcaption p:nth-child(2) {
    font-family: var(--helvetica-text);
}

.productSlider figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.productSlider figure p:last-of-type {
    padding-top: 8px;
}

.productSlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productSlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.productSlider ul li ul {
    display: flex;
    gap: 10px;
}

.productSlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    padding: 0;
}

.productSlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

.productSlider::-webkit-scrollbar {
    width: 14px;
    height: 2px;
}

.productSlider::-webkit-scrollbar-thumb {
    height: 2px;
    background: #000000;
}

.productSlider::-webkit-scrollbar-track {
    width: 2px;
    background: #FFF;
}

.productSlider ul::-webkit-scrollbar-track {
    margin: 0 40px;
}

.productSlider ul::-webkit-scrollbar {
    width: 14px;
}

.productSlider ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 4px 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px;
}

.productSlider ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.productSlider ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.productSlider ul:nth-child(2) {
    padding-inline-start: 40px;
    padding-left: 40px;
    scroll-padding-left: 40px;
    scroll-snap-type: x mandatory;
}

.productSlider ul:nth-child(2) li {
    scroll-snap-align: start;
}

/****************/
/* SPORT CATEGORY SLIDER STYLING */
/****************/

.sportCategories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
}

.sportCategories ul {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.sportCategories li {
    position: relative;
}

.sportCategories img {
    max-width: 400px;
    aspect-ratio: 3/2;
}

.sportCategories span {
    position: absolute;
    left: 48px;
    bottom: 30px;
    font-family: var(--helvetica-text-medium);
    line-height: 24px;
    display: block;
    width: fit-content;
    color: black;
    padding: 6px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
}

.sportCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.sportCategories figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.sportCategories ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sportCategories ul li ul {
    display: flex;
    gap: 10px;
}

.sportCategories ul li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 999px;
}

.sportCategories::-webkit-scrollbar {
    width: 14px;
    height: 2px;
}

.sportCategories::-webkit-scrollbar-thumb {
    height: 2px;
    background: #000000;
}

.sportCategories::-webkit-scrollbar-track {
    width: 2px;
    background: #FFF;
}

.sportCategories ul::-webkit-scrollbar-track {
    margin: 0 40px;
}

.sportCategories ul::-webkit-scrollbar {
    width: 14px;
}

.sportCategories ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 4px 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px;
}

.sportCategories ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.sportCategories ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

/********************************/
/* SHOE CATEGORY SLIDER STYLING */
/********************************/

.shoeCategorySlider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
    padding: 0;
}

.shoeCategorySlider ul {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.shoeCategorySlider img {
    max-width: 500px;
    aspect-ratio: 1/1;
}

.shoeCategorySlider ul li a figure {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 40px;
    position: relative;
}

.shoeCategorySlider span {
    color: white;
    font-size: 16px;
    line-height: 24px;
    background-color: #11111166;
    border-radius: 20px;
    position: absolute;
    padding: 6px 16px;
    right: 20%;
    top: 20%;
}

.shoeCategorySlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoeCategorySlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.shoeCategorySlider ul li ul {
    display: flex;
    gap: 10px;
}

.shoeCategorySlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    padding: 0;
}

.shoeCategorySlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

/****************/
/* SEX CATEGORY STYLING */
/****************/

.sexCategories {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 40px;
}

.sexCategories ul {
    display: flex;
    gap: 20px;
}

.sexCategories figcaption {
    position: absolute;
    left: 48px;
    bottom: 30px;
}

.sexCategories span {
    font-family: var(--helvetica-text-medium);
    line-height: 24px;
    display: block;
    width: fit-content;
    color: black;
    padding: 6px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
}

.sexCategories figcaption:last-of-type {
    display: flex;
    gap: 6px;
}

.sexCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.sexCategories li {
    position: relative;
}

.sexCategories img {
    max-width: 100%;
    height: auto;
}

/****************/
/* MEMBERSHIP CATEGORY STYLING */
/****************/

.membershipCategories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0;
}

.membershipCategories ul {
    display: flex;
    gap: 20px;
    overflow-x: visible;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.membershipCategories li {
    position: relative;
}

.membershipCategories img {
    width: 400px;
    height: auto;
}

.membershipCategories figcaption {
    position: absolute;
    left: 48px;
    bottom: 30px;
}

.membershipCategories h4 {
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 4px;
}

.membershipCategories p {
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-bottom: 8px;
}

.membershipCategories span {
    font-family: var(--helvetica-text-medium);
    line-height: 24px;
    display: block;
    width: fit-content;
    color: black;
    padding: 6px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
    margin-top: 30px;
}

.membershipCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.membershipCategories ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.membershipCategories ul li ul {
    display: flex;
    gap: 10px;
}

.membershipCategories ul li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 999px;
}

.membershipCategories::-webkit-scrollbar {
    width: 14px;
    height: 2px;
}

.membershipCategories::-webkit-scrollbar-thumb {
    height: 2px;
    background: #000000;
}

.membershipCategories::-webkit-scrollbar-track {
    width: 2px;
    background: #FFF;
}

.membershipCategories ul::-webkit-scrollbar-track {
    margin: 0 40px;
}

.membershipCategories ul::-webkit-scrollbar {
    width: 14px;
}

.membershipCategories ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 4px 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px;
}

.membershipCategories ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.membershipCategories ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

/**********************/
/* MERCH MENU STYLING */
/**********************/

.merchMenu {
    font-family: var(--helvetica-text);

}

.merchMenu ul {
    display: flex;
    justify-content: center;
    column-gap: 46px;
}

.merchMenu ul>li {
    max-width: 184px;
}

.merchMenu ul li ul {
    display: flex;
    flex-direction: column;
}

.merchMenu ul li ul li {
    margin-bottom: 12px;
}

.merchMenu a {
    color: var(--text-lightgrey);
    font-size: 16px;
    line-height: 24px;
}

.merchMenu h5 {
    font-family: var(--helvetica-text);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}


/****************/
/* FOOTER STYLING */
/****************/

footer {
    display: flex;
    gap: 20px;
    color: white;
    background-color: var(--footer-black);
    padding: 40px;
}

/******************************** PAGE 2 STYLING ***************************/

/*************************/
/*  PRODUCT HEADER STYLING */
/*************************/

.productHeader {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 20px 48px;
    transition: font-size 200ms ease;
}

.productHeader ul {
    display: flex;
    gap: 10px;
}

.productHeader ul li button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productHeader.sticky h1 {
    font-size: 16px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

/*************************/
/*  PRODUCT GRID STYLING */
/*************************/

.productGrid {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.productGrid > aside {
    width: 212px;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0);
}

.productGrid > aside.slideOut {
    transform: translateX(-150%);
}

/* Add this class to make the sidebar sticky when it slides out */
.productGrid > aside.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.productHeader.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index based on your needs */
}

.productGrid ul {
    padding-bottom: 50px;
}

.productGrid input {
    padding-bottom: 50px;
}

.productGrid ul:first-of-type li {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

.productGrid section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.productGrid article img {
    max-width: 100%;
    height: auto;
}

.productGrid article p:first-of-type {
    color: var(--product-bestseller);
    font-weight: 500;
}

.productGrid article p:last-of-type::after {
    content: '€149,99';
    opacity: 0.5;
    text-decoration-line: line-through;
    padding-left: 10px;
}

/*************************/
/*  FOOTER STYLING */
/*************************/

footer {
    display: flex;
    justify-content: space-between;
}

footer ul {

}

footer ul li {
    color: #7e7e7e;
    font-size: 14px;
    line-height: 1;
    padding: 9px 0;
}

footer ul li:hover {
    color: white;
}

footer ul li:first-child {
    color: white;
    text-transform: uppercase;
}

footer ul:first-of-type {
    color: white;
    text-transform: uppercase;
}

footer ul:first-of-type li {
    color: white;
}

footer ul:last-of-type {
    display: flex;
    gap: 16px;
}

/*************************/
/*  MOBILE STYLING */
/*************************/

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}
