/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

    /*FONTS*/
    --font-size: 100%;
    --nike-futura: 'Nike-Futura', sans-serif;
    --helvetica-text: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
    --helvetica-text-medium: 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;

    /*COLORS*/
    --color-text: #111;
    --color-background: #eee;
    --nike-grey: #F5F5F5;
    --shadow1: #e5e5e5;
    --footer-black: #111111FF;
    --text-lightgrey: #707072;
    --product-bestseller: #9E3500;

}

/*********************/
/* FONTS */
/*********************/

@font-face {
    font-family: 'Nike-Futura';
    src: url("../fonts/Nike-Futura.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url("../fonts/HelveticaNowText.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text Medium';
    src: url("../fonts/HelveticaNowTextMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/****************/
/* GENERIC STYLING */
/****************/

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
html {
    font-size: var(--font-size); /*Variabele om de base font size in te stellen. In het geval van Chrome 16px.*/
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: "Helvetica Now Display", sans-serif;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    padding: 0 3rem;
}

/* TODO Moet nog Helvetica now display worden */
h2 {
    font-size: 1.5rem;
    font-family: "Helvetica", sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
}

ul {
    list-style-type: none;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

li {
    font-size: 1rem;
    line-height: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

svg:hover {
    opacity: 0.6;
}

/****************/
/* BUTTON STYLING */
/****************/

button {
    background-color: white;
    border-radius: 5rem;
    border: none;
    color: black;
    padding: 0.375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

/*******************/
/* OVERLAY STYLING */
/*******************/

body::before {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.36);
    backdrop-filter: blur(0.25rem);
    z-index: 19;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.showMenu::before {
    display: block;
    opacity: 1;
}

/****************/
/* HEADER STYLING */
/****************/


header > a {
    background-color: white;
    border: 0.125rem solid black;
    padding: 0.25rem 1rem;
    position: absolute;
    left: -100rem;
}

header > a:focus {
    left: 0.625rem;
    top: 0.625rem;
}

header aside {
    display: none;
}

header nav {
    position: static;
    background-color: white;
    transition: transform 0.6s ease;
}

header nav.slide-out {
    transform: translateY(-100%);
}

header nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transform: translateY(0%);
}

header section {
    display: flex;
    justify-content: space-between;
    max-height: 3.75rem;
    padding: 0.375rem 3rem;
    background-color: var(--nike-grey);
}

header section ul {
    display: flex;
    gap: 1.5rem;
}

header section ul:last-child {
    gap: 0;
}

header section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color-text);
}

header section ul li a {
    font-size: 0.75rem;
    line-height: 1;
    color: var(--color-text);
    font-family: var(--helvetica-text-medium);
    border-right: 0.125rem solid #111111;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
}

header section ul li:last-child a {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

header nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 3rem;
}

header nav ul li ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

header nav ul li:nth-child(2) ul {
    gap: 0;
}

header nav ul li:nth-child(2) ul li {
    font-family: var(--helvetica-text-medium);
    border-bottom: 0.125rem solid transparent;
    padding: 0.625rem 0.75rem;
    transition: border 0.1s;
    white-space: nowrap;
}

nav > ul > li:first-child {
    width: 16.75rem;
}

header nav ul li:nth-child(2) ul li a {
    display: block;
    width: 100%;
}

header nav ul li:nth-child(2) ul li:hover {
    border-bottom: 0.125rem solid black;
}

header nav ul li:nth-child(3) ul {
    display: flex;
    justify-content: end;
}

header form {
    position: relative;
}

header form button {
    all: unset;
    position: absolute;
    left: 0;
    top: 0.125rem;
    padding: 0.4375rem 0.625rem;
    cursor: pointer;
}

header form button:hover {
    background-color: #E5E5E5;
    border-radius: 100rem;
}

header form svg:hover {
    opacity: 1;
}

header input {
    background-color: var(--nike-grey);
    border: none;
    border-radius: 1.25rem;
    padding: 0.6875rem 1.25rem 0.6875rem 3rem;
    height: 2.5rem;
    max-width: 11.25rem;
}

header input:hover {
    background-color: #e5e5e5;
}

header input::placeholder {
    font-size: 1rem;
}

header nav > ul > li:last-child {
    display: none;
}

@media (max-width: 59.9375rem) {
    header section {
        display: none;
    }

    header nav > ul {
        padding: 0.5625rem 0.875rem 0.5625rem 1rem;
    }

    header nav > ul > li:last-child {
        display: block;
    }

    header nav > ul > li:nth-child(2) {
        display: none;
    }

    header nav > ul > li:nth-child(3) {
        display: none;
    }

    nav > ul > li:first-child {
        width: fit-content;
    }

    nav button {
        all: unset;
        padding: 0.5rem;
    }

    header aside {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        right: 0;
        max-width: 20rem;
        z-index: 999;
        height: 100vh;
        padding: 2.5rem 1.875rem 9.375rem 2.25rem;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transform: translateX(20rem);
    }

    header aside.showMenu {
        transform: translateX(0);
        overflow-x: hidden;
    }

    header aside li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding: 0.625rem 0;
    }

    header aside > button {
        all: unset;
        align-self: end;
        cursor: pointer;
    }

    header button {
        cursor: pointer;
    }
}

/****************/
/* INFO SLIDER STYLING */
/****************/

.infoSlider {
    position: relative;
    width: 100%;
    max-height: 3.625rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--nike-grey);
    padding: 0;
    box-shadow: inset 0 -0.0625rem 0 0 var(--shadow1);
}

.infoSlider div {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

@keyframes slideLeft {
    0% { transform: translateX(0) }
    5%, 20% { transform: translateX(-100%) }
    25%, 40% { transform: translateX(-200%) }
    45%, 100% { transform: translateX(0) }
}

.infoSlider ul {
    display: flex;
    padding: 0.75rem 0 0.375rem;
    width: 100%;
    animation: slideLeft 18s infinite ease-in-out;
    animation-delay: 6s;
}



.infoSlider ul li {
    min-width: 100%;
    box-sizing: border-box;
    font-family: var(--helvetica-text);
}

.infoSlider p {
    line-height: 1;
    text-align: center;
}

.infoSlider p:last-child {
    font-size: 0.75rem;
    line-height: 1.5rem;
}

/************************/
/* CALLTOACTION STYLING */
/************************/

.callToAction {
    padding: 0;
}

.callToAction h1 {
    font-family: var(--nike-futura);
    font-size: 3rem;
    color: black;
    line-height: 1;
    text-transform: uppercase;
}

.callToAction * {
    text-align: center;
}

.callToAction p {
    font-family: var(--helvetica-text);
}

.callToAction span {
    color: white;
    font-weight: 500;
    padding: 0.375rem 1.25rem;
    border: 0.0625rem solid black;
    background-color: black;
    border-radius: 100rem;
    margin-top: 1.875rem;
}

.callToAction span:hover {
    border-color: #707072;
    background-color: #707072;
}

.callToAction h1 {
    margin-bottom: 0.5rem;
}

.callToAction p {
    color: black;
    margin-top: 1.5rem;
}

.callToAction figure img {
    width: 100%;
    height: auto;
}

.callToAction figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("/images/calltoaction.png");
    padding: 1.25rem 0;
    background-repeat: no-repeat;
    background-size: cover ;
}

.callToAction figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 auto;
}



@media (max-width: 84.375rem) {
    .callToAction figure figcaption {
        position: static;
    }
}

/****************/
/* HERO STYLING */
/****************/

.hero {
    margin-top: 1rem;
    padding: 0
}

.hero h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.hero p:first-of-type {
    font-size: 4.75rem;
    font-family: var(--nike-futura);
    line-height: 1;
    text-transform: uppercase;
}

.hero p:last-of-type {
    margin: 1.875rem 0;
    line-height: 1.5rem;
}

.hero span {
    display: block;
    width: fit-content;
    color: black;
    font-weight: 500;
    padding: 0.375rem 1.25rem;
    border: 0.0625rem solid white;
    background-color: white;
    border-radius: 100rem;
    cursor: pointer;
}

.hero span:hover {
    background-color: #9e9ea0;
    border-color: #9e9ea0;
}

.hero figure img {
    max-width: 100%;
    height: auto;
}

.hero figure {
    position: relative;
}

.hero figure figcaption {
    color: white;
    position: absolute;
    bottom: 3.375rem;
    left: 2.25rem;
}

@media (max-width: 58.375rem) {
    .hero figure img {
        width: 100%;
        height: auto;
        content: url("/images/heromobile.png");
    }
}

/****************/
/* RELEASE SLIDER STYLING */
/****************/

.releasedSlider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 3.75rem 0;
    padding: 0;
}

.releasedSlider button.disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
}

.releasedSlider ul {
    display: flex;
    gap: 1.25rem;
    overflow: auto;
    padding: 0 3rem;
}

.releasedSlider img {
    width: 26.875rem;
    height: auto;
}

.releasedSlider ul li a figure {
    padding-bottom: 2.5rem;
}

.releasedSlider figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.releasedSlider p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 500;
    margin: 3rem 0 0.5rem;
}

.releasedSlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.releasedSlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.releasedSlider ul li ul {
    display: flex;
    gap: 0.625rem;
}

.releasedSlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    padding: 0;
}

.releasedSlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

.releasedSlider::-webkit-scrollbar {
    width: 0.875rem;
    height: 0.125rem;
}

.releasedSlider::-webkit-scrollbar-thumb {
    height: 0.125rem;
    background: #000000;
}

.releasedSlider::-webkit-scrollbar-track {
    width: 0.125rem;
    background: #FFF;
}

.releasedSlider ul::-webkit-scrollbar-track {
    margin: 0 2.5rem;
}

.releasedSlider ul::-webkit-scrollbar {
    width: 0.875rem;
}

.releasedSlider ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 0.25rem 0;
    border-radius: 0.4375rem;
    box-shadow: inset 0 0 0 0.125rem;
}

.releasedSlider ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.releasedSlider ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.releasedSlider ul:nth-child(2) {
    padding-inline-start: 3rem;
    padding-left: 3rem;
    scroll-padding-left: 3rem;
    scroll-snap-type: x mandatory;
}

.releasedSlider ul:nth-child(2) li {
    scroll-snap-align: start;
}

/****************/
/* PRODUCT SLIDER STYLING */
/****************/

.productSlider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 3.75rem 0;
    padding: 0;
}

.productSlider button.disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
}

.productSlider ul {
    display: flex;
    gap: 1.25rem;
    overflow: auto;
    padding: 0 2.5rem;
}

.productSlider img {
    max-width: 31.25rem;
    aspect-ratio: 1/1;
}

.productSlider ul li a figure {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 2.5rem;
}

.productSlider figcaption p {
    font-family: var(--helvetica-text-medium);
}

.productSlider figcaption p:nth-child(2) {
    font-family: var(--helvetica-text);
}

.productSlider figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.productSlider figure p:last-of-type {
    padding-top: 0.5rem;
}

.productSlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productSlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.productSlider ul li ul {
    display: flex;
    gap: 0.625rem;
}

.productSlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    padding: 0;
}

.productSlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

.productSlider::-webkit-scrollbar {
    width: 0.875rem;
    height: 0.125rem;
}

.productSlider::-webkit-scrollbar-thumb {
    height: 0.125rem;
    background: #000000;
}

.productSlider::-webkit-scrollbar-track {
    width: 0.125rem;
    background: #FFF;
}

.productSlider ul::-webkit-scrollbar-track {
    margin: 0 2.5rem;
}

.productSlider ul::-webkit-scrollbar {
    width: 0.875rem;
}

.productSlider ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 0.25rem 0;
    border-radius: 0.4375rem;
    box-shadow: inset 0 0 0 0.125rem;
}

.productSlider ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.productSlider ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.productSlider ul:nth-child(2) {
    padding-inline-start: 2.5rem;
    padding-left: 2.5rem;
    scroll-padding-left: 2.5rem;
    scroll-snap-type: x mandatory;
}

.productSlider ul:nth-child(2) li {
    scroll-snap-align: start;
}

/****************/
/* SPORT CATEGORY SLIDER STYLING */
/****************/

.sportCategories {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 3.75rem 0;
}

.sportCategories ul {
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1.875rem;
}

.sportCategories li {
    position: relative;
}

.sportCategories img {
    max-width: 25rem;
    aspect-ratio: 3/2;
}

.sportCategories span {
    position: absolute;
    left: 3rem;
    bottom: 1.875rem;
    font-family: var(--helvetica-text-medium);
    line-height: 1.5rem;
    display: block;
    width: fit-content;
    color: black;
    padding: 0.375rem 1.25rem;
    border: 0.0625rem solid white;
    background-color: white;
    border-radius: 100rem;
    cursor: pointer;
}

.sportCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.sportCategories figure p:nth-child(2) {
    color: var(--text-lightgrey)
}

.sportCategories ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sportCategories ul li ul {
    display: flex;
    gap: 0.625rem;
}

.sportCategories ul li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
}

.sportCategories::-webkit-scrollbar {
    width: 0.875rem;
    height: 0.125rem;
}

.sportCategories::-webkit-scrollbar-thumb {
    height: 0.125rem;
    background: #000000;
}

.sportCategories::-webkit-scrollbar-track {
    width: 0.125rem;
    background: #FFF;
}

.sportCategories ul::-webkit-scrollbar-track {
    margin: 0 2.5rem;
}

.sportCategories ul::-webkit-scrollbar {
    width: 0.875rem;
}

.sportCategories ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 0.25rem 0;
    border-radius: 0.4375rem;
    box-shadow: inset 0 0 0 0.125rem;
}

.sportCategories ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.sportCategories ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

/********************************/
/* SHOE CATEGORY SLIDER STYLING */
/********************************/

.shoeCategorySlider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 3.75rem 0;
    padding: 0;
}

.shoeCategorySlider ul {
    display: flex;
    gap: 1.25rem;
    overflow: hidden;
}

.shoeCategorySlider img {
    max-width: 31.25rem;
    aspect-ratio: 1/1;
}

.shoeCategorySlider ul li a figure {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 2.5rem;
    position: relative;
}

.shoeCategorySlider span {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #11111166;
    border-radius: 1.25rem;
    position: absolute;
    padding: 0.375rem 1rem;
    right: 20%;
    top: 20%;
}

.shoeCategorySlider ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoeCategorySlider ul:first-of-type li:nth-child(2) ul {
    padding: 0;
}


.shoeCategorySlider ul li ul {
    display: flex;
    gap: 0.625rem;
}

.shoeCategorySlider ul li ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    padding: 0;
}

.shoeCategorySlider ul li ul li button:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #CACACB;
}

/****************/
/* SEX CATEGORY STYLING */
/****************/

.sexCategories {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
    gap: 2.5rem;
}

.sexCategories ul {
    display: flex;
    gap: 1.25rem;
}

.sexCategories figcaption {
    position: absolute;
    left: 3rem;
    bottom: 1.875rem;
}

.sexCategories span {
    font-family: var(--helvetica-text-medium);
    line-height: 1.5rem;
    display: block;
    width: fit-content;
    color: black;
    padding: 0.375rem 1.25rem;
    border: 0.0625rem solid white;
    background-color: white;
    border-radius: 100rem;
    cursor: pointer;
}

.sexCategories figcaption:last-of-type {
    display: flex;
    gap: 0.375rem;
}

.sexCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.sexCategories li {
    position: relative;
}

.sexCategories img {
    max-width: 100%;
    height: auto;
}

/****************/
/* MEMBERSHIP CATEGORY STYLING */
/****************/

.membershipCategories {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 3.75rem 0;
}

.membershipCategories ul {
    display: flex;
    gap: 1.25rem;
    overflow-x: visible;
    overflow-y: hidden;
    padding-bottom: 1.875rem;
}

.membershipCategories li {
    position: relative;
}

.membershipCategories img {
    width: 16rem;
    height: auto;
}

.membershipCategories figcaption {
    position: absolute;
    left: 3rem;
    bottom: 1.875rem;
}

.membershipCategories h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin-bottom: 0.25rem;
}

.membershipCategories p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: white;
    margin-bottom: 0.5rem;
}

.membershipCategories span {
    font-family: var(--helvetica-text-medium);
    line-height: 1.5rem;
    display: block;
    width: fit-content;
    color: black;
    padding: 0.375rem 1.25rem;
    border: 0.0625rem solid white;
    background-color: white;
    border-radius: 100rem;
    cursor: pointer;
    margin-top: 1.875rem;
}

.membershipCategories span:hover {
    border-color: #9e9ea0;
    background-color: #9e9ea0;
}

.membershipCategories ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.membershipCategories ul li ul {
    display: flex;
    gap: 0.625rem;
}

.membershipCategories ul li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
}

.membershipCategories::-webkit-scrollbar {
    width: 0.875rem;
    height: 0.125rem;
}

.membershipCategories::-webkit-scrollbar-thumb {
    height: 0.125rem;
    background: #000000;
}

.membershipCategories::-webkit-scrollbar-track {
    width: 0.125rem;
    background: #FFF;
}

.membershipCategories ul::-webkit-scrollbar-track {
    margin: 0 2.5rem;
}

.membershipCategories ul::-webkit-scrollbar {
    width: 0.875rem;
}

.membershipCategories ul::-webkit-scrollbar-thumb {
    background-color: black;
    background-clip: content-box;
    border: solid transparent;
    border-width: 0.25rem 0;
    border-radius: 0.4375rem;
    box-shadow: inset 0 0 0 0.125rem;
}

.membershipCategories ul::-webkit-scrollbar-corner {
    background-color: transparent
}

.membershipCategories ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

/**********************/
/* MERCH MENU STYLING */
/**********************/

.merchMenu {
    font-family: var(--helvetica-text);
    max-height: 12rem;
    overflow: hidden;
    transition: all 5s linear;
    margin: 0 auto 4rem;
    width: fit-content;
}

.merchMenu ul {
    display: flex;
    justify-content: center;
    column-gap: 2.875rem;
    max-width: 57.5rem
}

.merchMenu ul > li {
    max-width: 11.5rem;
}

.merchMenu ul li ul {
    display: flex;
    flex-direction: column;
}

.merchMenu ul li ul li {
    margin-bottom: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.merchMenu:hover {
    max-height: 100%;
}

.merchMenu:hover ul li ul li {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.merchMenu a {
    color: var(--text-lightgrey);
    font-size: 1rem;
    line-height: 1.5rem;

}

.merchMenu h5 {
    font-family: var(--helvetica-text);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

/*****************/
/* MODAL STYLING */
/*****************/

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 27.25rem;
    padding: 0;
}

.modal article {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.75rem;
    margin: 0 1.75rem;
}

.modal img {
    margin: 0 auto;
}

.modal h6 {
    text-align: center;
    font-size: 1.625rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    padding: 2rem 0 1.625rem;
}

.modal button {
    all: unset;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0.625rem;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal form>button {
    all: unset;
    background-color: black;
    width: 100%;
    max-width: 18.125rem;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 0 1rem;
    border-radius: 0.1875rem;
    height: 2.375rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.modal article p {
    font-size: .875rem;
    line-height: 1rem;
    color: #8D8D8D;
    text-align: center;
}

.modal p:first-of-type {
    margin-bottom: 1.5rem;
}

.modal p:last-of-type {
    font-size: 0.75rem;
}

.modal input {
    width: 100%;
    border: 0.0625rem solid #E5E5E5;
    height: 2.5rem;
    padding: 0 1rem;
}

.modal ul li {
    display: flex;
    flex-direction: column;
}

.modal ul li ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0 3rem;
}

.modal label {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.modal select {
    width: 100%;
    border: 0.0625rem solid #E5E5E5;
    height: 2.5rem;
    padding: 0 1rem;
}



.modal input::placeholder {
    color: #8D8D8D;
}

.modal select::placeholder {
    color: #8D8D8D;
}

/****************/
/* FOOTER STYLING */
/****************/

footer {
    display: flex;
    gap: 1.25rem;
    color: white;
    background-color: var(--footer-black);
    padding: 2.5rem;
}

/******************************** PAGE 2 STYLING ***************************/

/*************************/
/*  PRODUCT HEADER STYLING */
/*************************/

.productHeader {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 1.25rem 3rem;
    transition: font-size 200ms ease;
}

.productHeader ul {
    display: flex;
    gap: 0.625rem;
}

.productHeader ul li button {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.productHeader.sticky h1 {
    font-size: 1rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

/*************************/
/*  PRODUCT GRID STYLING */
/*************************/

.productGrid {
    display: flex;
    justify-content: space-between;
    gap: 3.75rem;
}

.productGrid > aside {
    width: 13.25rem;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0);
}

.productGrid > aside.slideOut {
    transform: translateX(-150%);
}

/* Add this class to make the sidebar sticky when it slides out */
.productGrid > aside.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.productHeader.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index based on your needs */
}

.productGrid ul {
    padding-bottom: 3.125rem;
}

.productGrid input {
    padding-bottom: 3.125rem;
}

.productGrid ul:first-of-type li {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.625rem 0;
}

.productGrid section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 2.5rem;
}

.productGrid article img {
    max-width: 100%;
    height: auto;
}

.productGrid article p:first-of-type {
    color: var(--product-bestseller);
    font-weight: 500;
}

.productGrid article p:last-of-type::after {
    content: '€149,99';
    opacity: 0.5;
    text-decoration-line: line-through;
    padding-left: 0.625rem;
}

/*************************/
/*  FOOTER STYLING */
/*************************/

footer {
    display: flex;
    justify-content: space-between;
}

footer ul {

}

footer ul li {
    color: #7e7e7e;
    font-size: 0.875rem;
    line-height: 1;
    padding: 0.5625rem 0;
}

footer ul li:hover {
    color: white;
}

footer ul li:first-child {
    color: white;
    text-transform: uppercase;
}

footer ul:first-of-type {
    color: white;
    text-transform: uppercase;
}

footer ul:first-of-type li {
    color: white;
}

footer ul:last-of-type {
    display: flex;
    gap: 1rem;
}

/*************************/
/*  MOBILE STYLING */
/*************************/

@media (max-width: 48rem) {
    footer {
        flex-direction: column;
    }
}
